<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <%- blocks.header_scripts %>
    <link rel="stylesheet" href="/public/third_party/bootstrap/dist/css/bootstrap.min.css" />
    <%- blocks.header_link %>
  </head>
  <body>

    <%- body %>

    <script type="text/javascript" src="/public/third_party/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/public/third_party/bootstrap/dist/js/bootstrap.min.js"></script>
    <%- blocks.footer_scripts %>
  </body>
</html>
